* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  overflow: auto;
}

html,
body,
.page-container,
.preview-code {
  height: 100%;
}

bsky-widget {
  width: 350px;
}

a:not(.button) {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.sb-embed {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  min-height: 450px;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 400px;
  height: 100%;
  z-index: 1;
  box-shadow: 1px 1px 12px 4px #0002;
}

.preview-code-container {
  margin-left: 400px;
}
.preview-code {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 42px;
  min-height: 580px;
}

.preview {
  padding: 0px 42px;
}

.docs-container {
  padding: 24px 42px;
}

.title {
  text-align: center;
  margin: 42px 0px;
  font-size: 1rem;
}

.title h1 {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1230px) {
  .page-container,
  .preview-code {
    height: unset;
  }

  .preview-code {
    flex-direction: column;
  }

  .code-output {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    box-shadow: none;
    width: 100%;
    position: relative;
    background-color: transparent;
    height: unset;
  }

  .code-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .preview-code {
    margin-left: 0px;
    padding: 42px 12px;
  }
}

.form-container {
  text-align: left;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.form-wrapper {
  width: 100%;
  padding: 24px 42px;
}

/* Input styles */
.input-container label {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.input-container input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  transition: border-color 0.3s ease;
  font-size: 1.2rem;
}

.input-container input::placeholder {
  color: #aaa;
}

.input-container input:focus {
  outline: none;
  border-color: #6b7280;
}

.button {
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #333;
}

.generate-button {
  display: block;
  width: 100%;
}

.bsky-share-button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 12px 24px;
}

.hljs {
  background-color: transparent !important;
}

pre {
  margin: 0px;
}

.code-output {
  margin-top: 12px;
  background-color: #f9f9f9;
  border-radius: 6px;
  width: 100%;
  overflow: auto;
  max-width: 500px;
  position: relative;
  border: 1px solid #0002;
}

.copy-button {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.9rem;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.github-corner {
  position: fixed;
  top: 0px;
  right: 0px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
