/* Utils and Common Styling */
* {
  box-sizing: border-box;
}

h2 {
  margin: 0px;
  font-size: var(--bsky-text-title);
}

p {
  margin: 0px;
}

a {
  color: var(--bsky-interactive);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.widget-container {
  height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif, -apple-system, sans-serif;
  width: 100%;
  text-align: left;
}

.card-content-container {
  position: relative;
  font-size: var(--bsky-text-medium);
  line-height: 1.3rem;
  padding-bottom: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 1px 1px 8px 1px #0002;
  height: 100%;
  --bsky-interactive: #1185fe;
  --bsky-interactive-hover: #4ca2fe;
  --bsky-text-on-theme: #fff;
  --bsky-text-title: 1.4rem;
  --bsky-text-medium: 1rem;
  --bsky-text-small: 0.9rem;
}

.card-content-container.show {
  opacity: 1;
}

.loading-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-follow-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  top: -32px;
}

.avatar-follow-container-placeholder {
  height: 48px;
}

.no-banner .avatar-follow-container {
  position: relative;
  top: unset;
  align-items: center;
  padding-top: 12px;
}

.no-banner .avatar-follow-container-placeholder {
  height: 0px;
}

.padded {
  padding: 0px 14px;
}

.bsky-button {
  background-color: var(--bsky-interactive);
  text-decoration: none !important;
  color: var(--bsky-text-on-theme);
  padding: 9px 16px;
  border-radius: 18px;
  font-weight: normal;
  font-size: var(--bsky-text-small);
  display: flex;
  align-items: center;
  gap: 6px;
}

.bsky-button:hover {
  background-color: var(--bsky-interactive-hover);
}

/* Actual Styling */
.banner {
  width: 100%;
  aspect-ratio: 3 / 1;
  background-size: cover;
  position: relative;
  background-color: var(--bsky-interactive);
}

.profile-header-container {
  display: flex;
  gap: 6px;
  flex-direction: column;
  position: relative;
}

.name-handle-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.followers {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.count {
  font-weight: bold;
}

.avatar {
  border-radius: 100%;
  border: 2px solid #fff;
}

.profile-description-container {
  padding-top: 12px;
  max-width: calc(100% - 28px);
}

.logo-anchor {
  position: absolute;
  text-decoration: none;
  position: absolute;
  bottom: 12px;
  right: 14px;
}

.bluesky-flutter {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
}

.bluesky-flutter svg {
  width: 2em;
  height: 2em;
  transition: 200ms;
}

.bluesky-flutter .left {
  transform-origin: center;
}
.bluesky-flutter .right {
  transform-origin: center;
  transform: scale(-1, 1);
}
.bluesky-flutter:hover .left,
.bluesky-flutter:focus .left {
  animation: flutter 430ms ease-in-out;
  --flip: 1;
}
.bluesky-flutter:hover .right,
.bluesky-flutter:focus .right {
  animation: flutter 500ms ease-in-out;
  --flip: -1;
}
.bluesky-flutter:hover svg,
.bluesky-flutter:focus svg {
  transform: rotate(-5deg);
  transition: 500ms;
}

@media (prefers-reduced-motion) {
  .bluesky-flutter:hover .left,
  .bluesky-flutter:focus .left,
  .bluesky-flutter:hover .right,
  .bluesky-flutter:focus .right {
    animation: none;
  }
}

@keyframes flutter {
  10% {
    transform: scale(calc(var(--flip) * 1), 0.9);
  }
  20% {
    transform: scale(calc(var(--flip) * 0.5), 1);
  }
  40% {
    transform: scale(calc(var(--flip) * 0.9), 0.95);
  }
  60% {
    transform: scale(calc(var(--flip) * 0.3), 1);
  }
  80% {
    transform: scale(calc(var(--flip) * 0.9), 0.95);
  }
  100% {
    transform: scale(calc(var(--flip) * 1), 1);
  }
}
